<footer class="footer">
  <div class="footer-column">
    <p>
        
        <nav>
          <br> <a href="https://buymeacoffee.com/pathumego" class="current">support volunteer work</a>
          <br> <a href="https://www.instagram.com/pathumego" class="current">instagram</a>
          <br> <a href="mailto:pathum@mooniak.com" class="current">email</a>
        </nav>
        
            </main>
        
            <p>        &copy;&nbsp;
              2014—2023 Pathum Egodawatta  
    
  </div>
  {% if site.data.social %}
    <div class="footer-column">
      <ul class="social-icons">
        {% for social in site.data.social %}
          <li class="social-icon-item">
            <a class="social-icon" href="{{ social.url }}" target="_blank">
              <i class="{{ social.icon | default: 'fas fa-link' }}" title="{{ social.title }}"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</footer>
