



@font-face {
  font-family: 'Yakkala DEV';
  src: url('https://dlzxjqdbhxhslzirdniv.supabase.co/storage/v1/object/public/fonts-cdn/fonts/Yakkala-Regular_Version%200.010;%20%5Bfefb6e8%5D-dev_v1768943031478.woff2?v=1') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family:"Yakkala DEV";
}

h1 {
  font-weight: 100;

}

.txt {
  font-size: 2em;
  line-height: 1.5;
}

.txt-2 {
  font-size: 1.5em;
  line-height: 1.5;
}
